{{#if ready}}
  <div class="ui horizontal list basemap-menu">    
    <div class="item has-pointer" onclick={{action (mut basemap) 'default'}}>
      <img src="http://c.basemaps.cartocdn.com/light_all/{{z}}/{{x}}/{{y}}.png" class="ui mini circular bordered image"/>
      <div class="content">
        <div class="header">Default</div>
      </div>
    </div>
    <div class="item has-pointer" onclick={{action (mut basemap) 'satellite'}}>
      <img src="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{{z}}/{{y}}/{{x}}" class="ui mini circular bordered image"/>
      <div class="content">
        <div class="header">Satellite</div>
      </div>
    </div>    
  </div>
{{/if}}
