<nav>
  <div class="ui inverted main menu">
    <div class="left menu" id="left-items">
      <div class="cubes item">
        {{#link-to 'application' class='cities-link'}}
          <i class="content large icon"></i>
        {{/link-to}}
      </div>
      {{#ui-dropdown class="dropdown item" selected=currentCity.city.name}}
        <div class="default text">Select Your District</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each model as |city|}}
            {{#link-to 'cities.city.city-filters' city.id class="item" tagName='a'}}
              {{city.name}}
            {{/link-to}}
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="header item">
      <h3>MassDevelopment &nbsp;<strong>Block x Block</strong></h3>
    </div>
    <div class="right menu" id="right-items">
      {{#if (not session.isAuthenticated)}}
        <div class="item">
          {{link-to 'Login' 'login' class='login-link'}}
        </div>
      {{else}}
        <div class="item">
          <div class="ui button" {{action 'invalidateSession'}}>Logout</div>
        </div>
      {{/if}}
    </div>
  </div>
</nav>
<main>
  {{outlet}}
</main>
<div class="ui basic segment fixed-footer">
  <div class="ui borderless mini menu">
    {{#link-to 'about' tagName='div' class='link item'}}
      About
    {{/link-to}}
    <div class="link item">
      Legal
    </div>
    <div class="right fitted menu">
      <a class="link item" href="https://www.massdevelopment.com" target="_blank">
        <img src="/images/massdevelopmentlogo.jpg" class="ui tiny image" />
      </a>
    </div>
  </div>
</div>